<!-- Features.html -->
<section class="page-section features bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ include.data.title }}</h2>
      </div>
    </div>
    <!-- FEATURE -->
    {% for feature in include.data.features %}
    <h3 class="feature-title">{{ feature.title }}</h3>
    {% include img.html src=feature.img alt=feature.img-alt class="feature-icon" %}
    <div class="row text-left">
      <ul>
        {% for f in feature.list %}<li>{{ f.txt }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
    <!-- FEATURE END -->
  </div>
</section>
<!-- End Features -->