<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark" id="mainNav" role="navigation">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{{ site.baseurl }}/">
      {%- if site.logo -%}
      <picture>
        <!-- <source srcset="{{ site.logo.path }}.webp" type="image/webp"> -->
        <!-- <source srcset="{{ site.logo.path }}" type="image/jpeg"> -->
        <!-- <img height="{{ site.logo.height | default: 60 }}" src="{{ site.logo.path }}" /> -->
        <img height="{{ site.logo.height | default: 60 }}" src="/assets/img/head-logo.svg" />
      </picture>
      {%- else -%} {{ site.title }} {%- endif -%}
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation"> Menu <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        {% if site.locale and site.locale != "" and site.locale != nil %}
        {%- for link in site.data.navigation[site.locale].nav -%}
        {% if link.subnav[0] %}
        <li class="nav-item dropdown">
          {%- if link.url -%}
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
            role="button" href="{{ site.baseurl }}/{{ link.url }}">{{ link.title }}</a>
          {%- else -%}
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
            role="button" href="#">{{ link.title }}</a>
          {%- endif -%}
          <ul class="dropdown-menu">
            {% for sublink in link.subnav %}
            <a class="dropdown-item" href="{{ site.baseurl }}/{{ sublink.url }}">{{ sublink.title }}</a>
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          {%- if link.url -%}
          <a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}/{{ link.url }}">{{ link.title }}</a>
          {%- else -%}
          <a class="nav-link js-scroll-trigger">{{ link.title }}</a>
          {%- endif -%}
        </li>
        {% endif %}
        {%- endfor -%}
        {% else %}
        <!-- <li>DON'T FORGET TO SET LOCALE! - CHECK _config</li> -->
        {% endif %}
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="https://shop.flameit.io">Shop</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navigation -->